@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.recipe-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.recipe-card h3 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.recipe-card {
  width: calc(50% - 20px);
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .recipe-card {
    width: calc(50% - 24px);
  }
}
