@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  /* background-color: #795f3717; */
}

/* RECIPE CARD  */
.recipe-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: calc(50% - 20px);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .recipe-card {
    width: calc(50% - 24px);
  }
}

/* RECIPE LISTS */
.recipe-list {
  margin-left: 5%;
  display: grid;
  gap: 12px;
  justify-content: center;
}

@media (min-width: 768px) {
  .recipe-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .recipe-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* NAVBAR */
.nav-link {
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #666;
}

/* SECTION */
section {
  height: 100vh;
}

#welcome h1 {
  font-family: "Playwrite US Modern", cursive;
}
