@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
  background-color: rgb(50, 65, 49);
  color: rgba(213, 201, 171, 0.823);
}

/* RECIPE CARD  */
.recipe-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: calc(50% - 20px);
  margin-bottom: 24px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .recipe-card {
    width: calc(50% - 24px);
  }
}

/* RECIPE LISTS */
.recipe-list {
  display: grid;
  gap: 24px;
}

@media (min-width: 768px) {
  .recipe-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 
@media (min-width: 1024px) {
  .recipe-list {
    grid-template-columns: repeat(3, 1fr);
  }
} */

.btn-dark {
  @apply text-gray-900 bg-transparent border border-gray-900;
  @apply hover:scale-110 focus:outline-none transition duration-200;
  @apply font-medium rounded-full text-sm px-5 py-2.5 text-center;
}

.btn-light {
  @apply text-gray-100 bg-transparent border border-gray-100;
  @apply hover:scale-110 focus:outline-none transition duration-200;
  @apply font-medium rounded-full text-sm px-5 py-2.5 text-center;
}

#recipePage {
  font-family: "Times New Roman", Times, serif;
}
