@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
  background-color: #324131;
  color: #ebe7dcd2;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

input::placeholder {
  color: inherit;
  opacity: 1;
}

/* recipe card styles */
.recipe-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: calc(50% - 20px);
  margin-bottom: 24px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .recipe-card {
    width: calc(50% - 24px);
  }
}

/* recipe list styles */
.recipe-list {
  display: grid;
  gap: 24px;
}
@media (min-width: 768px) {
  .recipe-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* recipe form styles  */
#recipeForm {
  font-family: Helvetica, sans-serif;
}

/* custom tailwind styles */
.btn {
  @apply px-4 py-2 rounded-full cursor-pointer border-0 text-sm tracking-wider transition-all duration-300 ease-in-out hover:tracking-widest hover:bg-green-200 hover:bg-opacity-20 hover:text-gray-900 hover:shadow-lg;
}
